<div class="mt-1" *ngIf="!addSubjectVisible"><button class="btn btn-primary"
        (click)="toggleAddSubjectVisible() ">Dodavanje predmeta</button></div>
<div class="mt-1" *ngIf="addSubjectVisible"><button class="btn btn-primary" (click)="toggleAddSubjectVisible() ">Sakrij
        formu za dodavanje predmeta</button></div>
<form class="mt-1" *ngIf="addSubjectVisible" (submit)="addSubject()">
    <div class="form-group">
        <label>Naslov</label>
        <input type="text" [(ngModel)]="title" name="title" class="form-control">
    </div>
    <div class="form-group">
        <label>Identifikacioni broj</label>
        <input type="text" [(ngModel)]="id_number" name="id_number" class="form-control">
    </div>
    <div class="form-group">
        <label>Opis</label>
        <input type="text" [(ngModel)]="description" name="description" class="form-control">
    </div>
    <div class="form-group">
        <label>Ključne riječi</label>
        <input type="text" [(ngModel)]="keywords" name="keywords" class="form-control">
    </div>
    <div class="form-group">
        <label>Podnosilac predmeta</label>
        <input type="text" [(ngModel)]="submitter" name="submitter" class="form-control">
    </div>
    <div class="form-group">
        <label>Kategorija</label>
        <input type="text" [(ngModel)]="category" name="category" class="form-control">
    </div>
    <div class="form-group">
        <label>Odsjek</label>
        <input type="text" [(ngModel)]="department" name="department" class="form-control">
    </div>
    <div class="form-group">
        <label>Zaduženi zaposleni</label>
        <input type="text" [(ngModel)]="subject_employees" name="subject_employees" class="form-control">
    </div>
    <input type="submit" class="btn btn-primary" value="Dodaj predmet">
</form><br>

<div class="mt-1" *ngIf="!modifySubjectVisible"><button class="btn btn-primary"
        (click)="toggleModifySubjectVisible()">Izmijeni predmet</button></div>
<div class="mt-1" *ngIf="modifySubjectVisible"><button class="btn btn-primary"
        (click)="toggleModifySubjectVisible()">Sakrij
        formu za izmjenu predmeta</button></div>

<div class="mt-1" *ngIf="modifySubjectVisible">
    <div class="form-group">
        <label>Naziv predmeta</label>
        <select class="form-control" [(ngModel)]="selected">
            <option *ngFor="let subject of subjects" [ngValue]="subject">{{subject.title}}</option>
        </select>
    </div>
    <div *ngIf="selected != undefined && modifySubjectVisible">
        <table class="table">
            <thead>
                <th scope="col">Identifikacioni broj</th>
                <th scope="col">Opis</th>
                <th scope="col">Ključne riječi</th>
                <th scope="col">Podnosilac predmeta</th>
                <th scope="col">Kategorija</th>
                <th scope="col">Odsjek</th>
                <th scope="col">Zaduženi zaposleni</th>
                <th scope="col">Dokumenti</th>
                <th scope="col">Datum</th>
            </thead>
            <tbody>
                <td> {{selected.id_number}}</td>
                <td> {{selected.description}}</td>
                <td> {{selected.keywords}}</td>
                <td> {{selected.submitter}}</td>
                <td> {{selected.category}}</td>
                <td> {{selected.department}}</td>
                <td> {{selected.employees}}</td>
                <td> {{selected.documents}}</td>
                <td> {{selected.submission_date}}</td>
            </tbody>
        </table>
    </div>
    <form class="mt-1" (submit)="modifySubject()">
        <div class="form-group">
            <label>Identifikacioni broj</label>
            <input type="text" [(ngModel)]="id_number" name="id_number" class="form-control">
        </div>
        <div class="form-group">
            <label>Opis</label>
            <input type="text" [(ngModel)]="description" name="description" class="form-control">
        </div>
        <div class="form-group">
            <label>Ključne riječi</label>
            <input type="text" [(ngModel)]="keywords" name="keywords" class="form-control">
        </div>
        <div class="form-group">
            <label>Podnosilac predmeta</label>
            <input type="text" [(ngModel)]="submitter" name="submitter" class="form-control">
        </div>
        <div class="form-group">
            <label>Kategorija</label>
            <input type="text" [(ngModel)]="category" name="category" class="form-control">
        </div>
        <div class="form-group">
            <label>Odsjek</label>
            <input type="text" [(ngModel)]="department" name="department" class="form-control">
        </div>
        <div class="form-group">
            <label>Zaduženi zaposleni</label>
            <input type="text" [(ngModel)]="subject_employees" name="subject_employees" class="form-control">
        </div>
        <div class="form-group">
            <label>Dokumenti</label>
            <input type="text" [(ngModel)]="document_names" name="document_names" class="form-control">
        </div>
        <input type="submit" class="btn btn-primary" value="Izmijeni predmet">
    </form><br>
</div>